// Пример adapt(100, 0, 320, 1200);
//adapt(Максимальное значение, Мимальное значение, До какого разрешения(По умолчанию 320), От какого разрешения(По умолчанию 1920));
@function adapt($f-max, $f-min: null, $end: 320, $start: 1920) {
	@if ($f-min) {
		$k: calc(($f-max - $f-min) / ($start - $end));
		$b: $f-min - $k * $end;
		// Реверсирование значений по необходимости
		@if ($f-max < $f-min) {
			$temp: $f-max;
			$f-max: $f-min;
			$f-min: $temp;
		}
		$w: $k * 100;
		@return unquote(
										"clamp(#{$f_min}px, calc(#{$w}vw + #{$b}px), #{$f_max}px)"
		);
	} @else {
		@return $f-max * 1px;
	}
}



/*============ MEDIA ==================*/
@media (max-width: 1240px) {

}

@media (max-width: 1221px) {

}

@media (max-width: 1025px) {

}

@media (max-width: 992px) {

}

@media (max-width: 769px) {

}

@media (max-width: 576px) {

}

@media (max-width: 498px) {

}

@media (max-width: 375px) {

}